<head>
<style>
	body {
		font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	}
	li {
		margin:0.5em;
	}
	li.sublabel {
		list-style-type:none;
	}
	a {
		color:#ce4c14;
	}
	a {
		color:#A53D10;
	}
	a.cms {
		color:white;
		text-decoration:none;
		font-size:1.2em;
		border-radius:0.5em;
		padding:5px;
		background: #a7461c;
		background-image: -ms-linear-gradient(bottom, #ce4c14 0%, #A53D10 100%);
		background-image: -moz-linear-gradient(bottom, #ce4c14 0%, #A53D10 100%);
		background-image: -o-linear-gradient(bottom, #ce4c14 0%, #A53D10 100%);
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ce4c14), color-stop(1, #A53D10));
		background-image: -webkit-linear-gradient(bottom, #ce4c14 0%, #A53D10 100%);
		background-image: linear-gradient(to top, #ce4c14 0%, #A53D10 100%);
	}
	a.cms:hover {
		background: #E29472;
		background-image: -ms-linear-gradient(bottom, #a7461c 0%, #E29472 100%);
		background-image: -moz-linear-gradient(bottom, #a7461c 0%, #E29472 100%);
		background-image: -o-linear-gradient(bottom, #a7461c 0%, #E29472 100%);
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a7461c), color-stop(1, #E29472));
		background-image: -webkit-linear-gradient(bottom, #a7461c 0%, #E29472 100%);
		background-image: linear-gradient(to top, #a7461c 0%, #E29472 100%);
	}
</style>
<title><%= @domain_name %></title>
</head>
<!-- <%= @hostname %> -->

<h2>Applications on <%= @domain_name %></h2>

<ul>
	<li> Drupal on CentOS 6: <a href="/drupal" class="cms" target="_blank"><%= @drupal_distro %></a>
	<ul>
		<li class="sublabel"><strong>Drupal admin users</strong> (use <em>Request New Password</em> functionality to log in):
<% @mu_admins.each_value do |admin| %>
		<li class="sublabel"> <a href="/drupal/user" target="_blank"><%= admin['email'] %></a>
<% end %>
	</ul>
	<li> Tomcat on Windows Server 2012: <a href="/<%= @tomcat_app %>" class="cms" target="_blank"><%= @tomcat_app %></a>
</ul>

<h2>Architecture</h2>

<img src="tiered_apps_demo_diagram.png">
